
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c3fdef3;
  padding: 15px 30px;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a5a5f5;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #370bbd;
}

@media (max-width : 800px) {

  .navbar-links {
    position:fixed;
    top:198px;
    left:0;
    right:0;
    align-items: center;
    background: rgb(196, 210, 255);
    flex-direction: column;
    padding: 1.5rem 0 ;
    border-bottom: 1px solid rgb(220, 220, 224);
    transform:translateY(-110%);
    opacity: 0;
    pointer-events: none;
    transition: transform 1.s, opacity 0.35s;
    z-index: 99;
  }

  .navbar-links li Link {
     
    text-align: center;
    padding: 0.75rem 2rem;
    font-size: 0.85rem;
    border-radius: 0;

  }

  .navbar-links.open {
    transform: translateY(0);
    opacity: 0;
    pointer-events: all;
  }

  .burger {
    display: flex;
  }
}